.scrollbar-thin::-webkit-scrollbar {
  width: 4px !important;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(var(--theme-white-rgb) / 0.32);
  border-radius: 20px;
}
